md-menu-content.md-cm {
  padding: 0;
  max-height: none;
  overflow: visible;
  background-color: rgba(255,255,255, 0.3);
}

md-menu-content.md-cm .md-cm-swatches {
  cursor: pointer;
}

md-menu-content.md-cm .md-cm-color {
  width: 32px;
  min-height: 32px;
}

md-menu-content.md-cm .favorites {
  border-right: 3px solid #ebebeb;
}

md-menu-content.md-cm .md-cm-color:focus {
  outline: none;
}
